## Go
*.exe
*.dll
*.so
*.dylib
*.test
*.out
vendor/
go.work
go.work.sum
/go-flightrecorder

## Reports and coverage
reports/
coverage.out

## Editors and ides
.idea/
.vscode/
*.swp
*.swo
*~

## Operating systems
.DS_Store
._*
Thumbs.db
